<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <table style="width:100%">
    <tr>
      <th>ID#</th>
      <th>Term</th>
      <th style="width:50%">Description</th>
      <th>References</th>
    </tr>
    <tr>
      <td>1</td>
      <td>DevOps</td>
      <td>DevOps makes it possible for formerly separate tasks like development, IT operations, quality engineering, and
        security to coordinate and collaborate. It unifies people, process, and technology in application design,
        development, delivery, and operations by combining development (Dev) and operations (Ops).</td>
      <td>mijacobs (2023). What is DevOps? - Azure DevOps. [online] learn.microsoft.com. Available at: <a
          href="https://learn.microsoft.com/en-us/devops/what-is-devops">https://learn.microsoft.com/en-us/devops/what-is-devops</a>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>Agile</td>
      <td>Agile is a project management methodology that emphasises incremental and iterative project completion phases.
        Instead of top-down administration and adhering to a predetermined plan, the strategy places a higher priority
        on speedy delivery, flexibility, and cooperation.</td>
      <td>Coursera. (2023). What Is Agile? And When to Use It. [online] Available at: <a
          href="https://www.coursera.org/articles/what-is-agile-a-beginners-guide">https://www.coursera.org/articles/what-is-agile-a-beginners-guide</a>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>Cloud Computing</td>
      <td>The term "cloud computing" refers to an abstraction of the network, storage, and compute resources that have
        been put together as a platform for the deployment and scalability of software and hardware. Most cloud users
        use public cloud services over the internet, which are hosted in distant data centres that are managed by cloud
        providers.</td>
      <td>Knorr, E. (2018). What is cloud computing? Everything you need to know now. [online] InfoWorld. Available at:
        <a
          href="https://www.infoworld.com/article/2683784/what-is-cloud-computing.html">https://www.infoworld.com/article/2683784/what-is-cloud-computing.html</a>
      </td>
    </tr>
    <tr>
      <td>4</td>
      <td>Microservices</td>
      <td>One of the key components of cloud-native computing are microservices.
        It splits large applications into smaller, loosely linked pieces, facilitating the development of flexible and
        robust software by developers. Additionally, the shorter development cycles that microservices enable speed up
        innovation and improve user experience.</td>
      <td>Chris Tozzi (2022). An intro to cloud-native microservices and how to build them | TechTarget. [online]
        Available at:<a
          href="https://www.techtarget.com/searchapparchitecture/tip/An-intro-to-cloud-native-microservices-and-how-to-build-them">
          https://www.techtarget.com/searchapparchitecture/tip/An-intro-to-cloud-native-microservices-and-how-to-build-them</a>
      </td>
    </tr>
    <tr>
      <td>5</td>
      <td>Monolith Architecture</td>
      <td>In a monolithic architecture, the operating system kernel is created to offer all operating system functions
        in a single, massive binary, including memory management, process scheduling, device drivers, and file systems.
        As a result, all code executes in kernel space, with no distinction between kernel-level and user-level
        processes.
      </td>
      <td>GeeksforGeeks. (2020). Monolithic Architecture. [online] Available at: <a
          href="https://www.geeksforgeeks.org/monolithic-architecture/">https://www.geeksforgeeks.org/monolithic-architecture/</a>
      </td>
    </tr>
    <tr>
      <td>6</td>
      <td>Orchestration</td>
      <td>In a centralised approach known as orchestration, a central component known as the orchestrator is in charge
        of overseeing and directing interactions amongst microservices. Examples of orchestration tools are Kubernetes
        and Docker Swarm.
      </td>
      <td>Kanjilal, J. (2023). Orchestration and choreography in .NET microservices. [online] InfoWorld. Available at:
        <a
          href="https://www.infoworld.com/article/3687638/orchestration-and-choreography-in-net-microservices.html#:~:text=Microservices%20orchestration%20refers%20to%20a">
          https://www.infoworld.com/article/3687638/orchestration-and-choreography-in-net-microservices.html#:~:text=Microservices%20orchestration%20refers%20to%20a</a>
        [Accessed 11 Jul. 2023].
      </td>
    </tr>
    <tr>
      <td>7</td>
      <td>Automation</td>
      <td>IT departments and developers can automatically set up, change, and remove cloud resources thanks to cloud
        automation. Cloud automation is not a feature of the cloud; rather, it requires knowledge and the usage of
        specialised tools. Some automation tools include, puppet, ansible, kubernetes, AWS cloud formation, and so on.
      </td>
      <td>Perry, Y. (2019). Cloud Automation: Why, Where and How. [online] bluexp.netapp.com. Available at: <a
          href="https://bluexp.netapp.com/blog/cloud-automation-why-where-and-how-cvo-blg#H4_4">https://bluexp.netapp.com/blog/cloud-automation-why-where-and-how-cvo-blg#H4_4</a>
        [Accessed 11 Jul. 2023].</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Docker</td>
      <td>A software platform called Docker makes it simple to develop, test, and deploy applications. Software is
        packaged by Docker into standardised units called containers that contain all of the necessary code, libraries,
        system tools, and runtime.</td>
      <td>Amazon Web Services, Inc. (n.d.). What is Docker? | AWS. [online] Available at:<a
          href="https://aws.amazon.com/docker/#:~:text=Docker%20is%20a%20software%20platform">
          https://aws.amazon.com/docker/#:~:text=Docker%20is%20a%20software%20platform</a>.</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Kubernetes</td>
      <td>A portable, adaptable, open-source platform called Kubernetes allows for declarative setup and automation of
        containerized workloads and services.
        You can use Kubernetes for things like storage orchestration, service discovery and load balancing.</td>
      <td>Kubernetes. (2023). Overview. [online] Available at: <a
          href="https://kubernetes.io/docs/concepts/overview/">https://kubernetes.io/docs/concepts/overview/ </a>.</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Terraform</td>
      <td>In order to automate numerous infrastructure activities, DevOps teams frequently employ Terraform, an
        infrastructure as code tool. One of Terraform's primary use cases is the provisioning of cloud resources. It is
        an open-source provisioning tool written in the Go language.</td>
      <td>Harrington, D. (2023). What is Terraform: Everything You Need to Know | Varonis. [online] www.varonis.com.
        Available at: <a
          href="https://www.varonis.com/blog/what-is-terraform">https://www.varonis.com/blog/what-is-terraform</a>.</td>
    </tr>
  </table>

</body>

</html>